/* noinspection CssUnknownTarget */
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

body {
  font-family: 'News Cycle', sans-serif;
}
:root {
  --dark-gray: #4a4a4a;
  --dark-gray-02: #2d2d2d;
  --muted-black: #202020;
}

