.container{
    width: 100vw;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.upperSection{
    height: 70vh;
    background-color: black;
    font-size: 200px;
    font-weight: 700;
    color:white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.space{
    margin-left: 80px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    width: 150px;
}
.buttonGroupContainer {}
.title{}

@media(max-width: 749px){
    .upperSection{
        height: 200px;
        align-items: center
    }
    .title{
        font-size: 50px;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 200px;
        width: 100%;
        margin-top: 50px;
    }
    .space{
        margin:0;
    }
}

@media(min-width: 750px) and (max-width: 1199px){
    .title{
        font-size: 100px;
    }
    .upperSection{
        height: 40%;
        align-items: center
    }
    .buttons{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        width: 100%;
        margin-top: 20%;
    }
    .button{
        font-size: 30px !important;
        width: 200px;
    }
    .space{
        margin:0;
    }
}

@media(min-width: 1200px){
    .buttons{
        position: absolute;
        bottom: -20px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}