.container{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.container:hover{
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.container::after{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cursor{
    cursor: pointer;
}

.image {
    width:150px;
    height: 200px;
}

.wrapper {
    width: 150px;
}