.container {
    width: 150px !important;
    height: 200px !important;
    background-color: var(--dark-gray-02) !important;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

