
.wrapper {
    margin: 20px;
    display: flex;

    align-items: baseline !important;
}

.infoContainer{
    min-height: calc(100vh - 60px);
    width: 250px;
    padding-left: 25px;
    border-top-right-radius: 50px;
    flex-direction: column;
    text-align: left;
    color:white;
    padding-top: 10px;
    background-image: linear-gradient(0deg, var(--warning),var(--primary));
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoTitle{
    font-weight: bold;
    font-size: 25px;
}


.katTitle{
    font-size: 35px;
    font-weight: bold;
}

.infoText{
    font-weight: bold;
    font-size: 20px;
}

.infoTextSmall{
    font-size: 15px;
    margin-left: 15px;
}

.newButton{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    background-color: var(--success);
    color: white;
    font-weight: bold;
    border: var(--success);
}

.newButton:focus{
    outline: none;
    border:var(--success);
}

.active {
    color: var(--active-blue);
}

.katalogContainer{
    margin-left: 20px;
}

@media(max-width: 749px){
    .container{
        flex-direction: column;
    }
    .infoContainer{
        min-height: 100px !important;
        width: 100vw !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 50px;
        padding-left: 15px;
    }
    .infoText{
        font-size: 15px;
        margin-top: 0px !important;
    }
    .infoTitle{
        font-size: 20px;
    }
    .infoTextSmall{
        font-size: 12px;
        margin-top: 0px !important;
    }
    .katTitle{
        font-size: 25px;
        font-weight: bold;
    }
    .newButton{
        font-size: 20px;
        width:30px;
        height:30px;
        margin-left: 10px!important;
    }
    .wrapper{
        align-items: baseline !important;
        justify-content: center;
        margin: 0;
    }
    .katalogContainer{
        margin-left: 0;
        align-self: center;
        margin-top: 10px;
    }
}

@media(min-width: 750px) and (max-width: 1024px){

    .katTitle{
        font-size: 35px;
        font-weight: bold;
    }

    .wrapper{
        justify-content: center !important;
    }
}