.wrapper {
    margin: 20px 50px 50px 50px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    color: var(--white) !important;
    background-color: var(--dark-gray) !important;
}

.button:hover{
    color: var(--white) !important;
    background-color: var(--dark) !important;
}

.buttonContainer {
    background-color: var(--dark-gray);
    position: relative;
    display: flex;
    align-self: flex-start;
}

.searchDropdown{
    position: absolute;
    width: 200px;
}

.activeLink{
    background-color: var(--orange);
}

.option {
    cursor: pointer;
}

.addToCatButton{
    font-size: 16px !important;
    margin-top: 20px;
}

.thumbnailContainer{
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.katalogContainer{
    background-color: var(--dark-gray-02) !important;
    width: 120px !important;
    height: 150px !important;
}


.modal{
    max-height: 450px;
    overflow-y: scroll;
}

.modal::-webkit-scrollbar-track
{
    border-radius: 5px;
    background-color: #F5F5F5;
}

.modal::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.modal::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color:var(--primary);
}

.activeKat{
    border: 3px solid var(--primary);
    border-radius: 7px;
}

.searchContainer{
    width: 75%;
}

.formStyle{
    width: 50%;
}
.wrapResults{}

@media(max-width: 749px){
    .wrapResults{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .wrapper{
        margin: 10px;
    }
    .formStyle{
        width: 100%;
    }
    .searchDropdown{
        transform: translateX(-160px);
    }
    .buttonContainer{
        max-height: 38px;
        align-items: center;
    }
    .button{
        font-size: 12px !important;
    }
    .thumbnailContainer{
        height: 350px;
        width: 100px;
    }
    .addToCatButton{
        margin-top: 10px;
        font-size: 10px !important;
    }

}

@media(min-width: 750px) and (max-width: 1120px){
    .wrapper {
        margin-top: 20px;
    }
    .searchContainer{
        width: 100%;
    }
    .formStyle{
        width: 100%;
    }
    .searchDropdown{
        transform: translateX(-160px);
    }
    .wrapResults{
        flex-wrap: wrap;
        justify-content: left !important;
        margin-bottom: 20px;
    }
    .thumbnailContainer{
        margin-top: 20px;
    }

}