.catalogueBody{
    justify-content: center;
}

.bottom{
    margin-bottom: 70px;
}

.thumbnailContainer{
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

.deleteBtn{
    background-color: var(--crimson);
    color: white;
}

.deleteBtn:hover{
    color: white;
}

@media(max-width: 749px){
    .catalogueBody{
        flex-wrap: wrap;
    }
    .thumbnailContainer{
        height: 330px;
    }
    .deleteBtn{
        font-size: 12px !important;
        background-color: var(--crimson);
        color: white;
    }
    .deleteBtn:hover{
        color: white;
    }
}

@media(min-width: 750px) and (max-width: 1280px){
    .catalogueBody{
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 30px 30px 0;
    }
    .deleteBtn{
        background-color: var(--crimson);
        color: white;
    }
    .deleteBtn:hover{
        color: white;
    }
    .thumbnailContainer{
        height: 370px;
        margin-top: 10px;
    }
}