.container {
    width: 100vw;
    height: 100vh;
}


.dropdown {
    position: absolute;
    transform: translate3d(0px, 0px, 0px) !important;
    right: 20px;
    left: calc(100% - 170px);
    width: 80px;
    will-change: transform;
}
