.container {
    width: 100vw;
    height: 100vh;
}

.customDropdown {
    position: absolute;
    transform: translate(-60px, 0);
    cursor: pointer;
}

.dropdownContainer{
    position: relative;
    color:white;
}
