.snackbar {
    visibility: hidden;
    min-width: 250px;
    height: 80px;
    color: var(--muted-black);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    top: 20px;
    right:0;
    font-size: 17px;
    z-index: 100;
}

.success{
    background-color: var(--success);
    color: white;
}

.danger{
    background-color: var(--crimson);
    color: white;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}